[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "==1.6.1"
mkdocs-material = "==9.6.21"
python-markdown-math = "==0.9"
Pygments = "==2.19.2"
prompt_toolkit = "==3.0.52"
pyyaml = "==6.0.3"
Jinja2 = "==3.1.6"
pillow = ">=10.0.0"
cairosvg = ">=2.7.0"
markdown-link-attr-modifier = ">=0.3.0"

[dev-packages]
invoke = ">=2.2.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true

[scripts]
version = "mkdocs --version"
help = "mkdocs --help"
serve = "invoke serve"
build = "mkdocs build"
deploy = "mkdocs gh-deploy"
