[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "==1.4.0"
mkdocs-material = "==8.5.6"
python-markdown-math = "==0.8"
Pygments = "==2.13.0"
prompt_toolkit = "==3.0.31"
pyyaml = "==6.0"
Jinja2 = "==3.1.2"
pillow = "*"
cairosvg = "*"

[dev-packages]
invoke = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
version = "mkdocs --version"
help = "mkdocs --help"
serve = "inv serve"
build = "mkdocs build"
deploy = "mkdocs gh-deploy"
