[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "==1.6.0"
mkdocs-material = "==9.5.21"
python-markdown-math = "==0.8"
Pygments = "==2.18.0"
prompt_toolkit = "==3.0.43"
pyyaml = "==6.0.1"
Jinja2 = "==3.1.4"
pillow = "*"
cairosvg = "*"
markdown-link-attr-modifier = "*"

[dev-packages]
invoke = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
version = "mkdocs --version"
help = "mkdocs --help"
serve = "inv serve"
build = "mkdocs build"
deploy = "mkdocs gh-deploy"
