AppKit==0.2.8
asyncssh_unofficial==0.9.2
attr==0.3.2
BeautifulSoup==3.2.2
brotli==1.0.9
brotlicffi==1.0.9.2
cchardet==2.1.7
cffi==1.15.1
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.3
Cython==3.0.1
dl==0.1.0
docutils==0.20.1
html5lib==1.1
HTMLParser==0.0.2
invoke==2.2.0
ipython==8.14.0
ipywidgets==8.1.0
jieba==0.42.1
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
mock==5.1.0
numpy==1.25.2
olefile==0.46
pikepdf==8.4.0
protobuf==4.24.1
pyOpenSSL==23.2.0
PyQt6==6.5.2
PySide6==6.5.2
pytest==7.4.0
pytidylib==0.3.2
pytz==2023.3
railroad==0.5.0
simplejson==3.19.1
Sphinx==7.2.3
tornado==6.3.3
trove_classifiers==2023.8.7
truststore==0.7.0
urllib3_secure_extra==0.1.0
wavedrom==2.0.3.post3
xcffib==1.5.0
xmlrpclib==1.0.1
zstandard==0.21.0
